
body{
    font-family: 'Mooli', sans-serif;
}
.card-img-top{
  height: 20rem;
  border-top-left-radius:0%;
  border-top-right-radius:0%;
  cursor: pointer;
  
  transition: all 1.5s ease-in-out;
}
.image{
    margin-top: 1rem;
   
}
/* .us{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
} */
.centrer{
    align-items: center;
}

.color{
    height: 95vh;
    /* background-color:rgb(245, 245, 139); */
    background-image: url(image/delicieux-petits-gateaux-aux-framboises-creme-accompagnes-biscuits-gateaux-lumiere.jpg);
 
    background-size: 90rem;
    margin-top: 0.7rem;
}

.li{
    width: 2rem;
}
.logo{
    width: 95%;
    border-radius: 50%;
}

.sweet{
   height: 349.25px;
}
.title{
    text-transform: capitalize;
    font-family: 'Mooli', sans-serif;  
}
.my-element{
    top: 0;
}


.header{
    color: pink;
    padding: 0px;
    margin: 0px;
}
.store{
    text-transform:uppercase;
    color: pink;
}
.title1{
    text-transform: capitalize;
}
#input{
 border: 1px solid ;

}
#input:focus{
border: none;
}
                      
.welcome{
   padding-top: 20rem;
}
.icon{
    z-index: 990;
    margin-top: 18.5rem;
    width: 100%;
}

.card{
    --bs-card-border-radius:0rem;
    overflow: hidden;
    position: relative;
} 
.myBtn:hover{
color: palevioletred;
background-color: rgb(41, 40, 40);
box-shadow: 12 2;
}
a:hover{
    color: white;
    
}
.explore:hover{
    background-color: rgb(41, 40, 40);
}
.cake{
    border-radius:50% ;
    width: 60%;

}
.contenu{
    background-color: rgb(158, 163, 163);
    justify-content: center;
   
}
.mon-contenu{
    margin: auto;
}
#myHistory:hover, .imag :hover{
color: white;
background-color: blueviolet;
}
.history{
    background-color: blueviolet;
   right: 20px;
}
.etoil{
    color: red;
}

.myStyle{
    transform: translate(40%,120%);
    transition: margin-right 4s ;
}
header{
    height: 2rem;
 
}
header ul{
   align-items: center;
}

.shop{
    border-radius: 6px;
    width: 3rem;
    height:3rem;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    transform: translate(100%,100%);
    transition:all 1s ease-in-out ;
    cursor: pointer;

}
/* .note{
    color:bisque;
}
.note:hover{
    color:bisque;
} */
.class{
    top: 1.8rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
svg:hover{
color: antiquewhite;
cursor: pointer;
}
.element ul li:not(:first-child){
    padding-left: 4rem;
}
.card-img-top:hover{
   
    transform: scale(1.5);
    
}
@media screen and (max-width:497px){
 #mycakes{
    padding: 0;
 }
 .sweet{
   height: 400px;
   
}
.card, .card-body{
    width: 300px;
    margin: auto;
}
.row button{
    font-size: small;
}
.centrer p{
    width: 250px;
    font-size: small;
}
.header{
display: none;
}
   #mycakes{
    display: inline-block;
   
   }
   .header-1{
    font-size: small;
   }
   .madiv{
    right: 0px;
    top: 2rem;
    color: pink;
    background-color: #f7fbfc
  
   }
   };
@media  (min-width:500px) and (max-width:1030px){
    .sweet{
        height: 200px;
    }

};


.reussi{
 
    top: 0;
    left: 0;
}
.note{
    color: bisque;
}
.imageDetail{
    margin: auto;
    width: 50rem;
    height: 500px;
    border-radius: 15px;
    
}

#arrow-left,#arrow-right{
    width: 16px;
    height: 16px;
}
.asma{
top: 108em;
height: 10%;
    
}
.rose{
    color: pink;

}
.rose svg{
 
}